name: my workflow

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      # - uses: actions/checkout@v2
      - name: Run a one-line script
        run: echo Hello, world!
      - name: Run a multi-line script
        run: |
          echo Add other actions to build,
          date

      - name: Check OS
        run: |
          if [ "$RUNNER_OS" == "Windows" ]; then
            echo "Running on Windows"
          elif [ "$RUNNER_OS" == "Linux" ]; then
            echo "Running on Linux"
          elif [ "$RUNNER_OS" == "macOS" ]; then
            echo "Running on macOS"
          else
            echo "Unknown OS"
          fi
          echo ${{ github.repository }}
          echo ${{ github.event.repository.name }}
          echo ${{ github.repository_owner }}
          
#     - uses: actions/checkout@v3
#     - name: push-to-gitee
#       uses: wangchucheng/git-repo-sync@v0.1.0
#       with:
#         target-url: https://gitee.com/zhuceji8/${{ github.event.repository.name }}.git
#         target-url: https://gitee.com/zhuceji8/LearnWorkflow.git
#         target-username: zhuceji8
#         target-token: ${{secrets.GITEE_TOKEN}}

      - name: Cache src repos
        uses: actions/cache@v3
        id: cache
        with:
          path: ${{ github.workspace }}/hub-mirror-cache
          key: ${{ runner.os }}-hub-repos-cache-${{ steps.get-time.outputs.date }}
          restore-keys: ${{ runner.os }}-hub-repos-cache
          
      - name: Mirror the Github organization repos to Gitee.
        uses: Yikun/hub-mirror-action@master
        with:
          src: github/{{ github.repository_owner }}
          dst: gitee/zhuceji8
          dst_key: ${{ secrets.GITEE_PRIVATE_KEY }}
          dst_token: ${{ secrets.GITEE_TOKEN }}
          account_type: user
          force_update: true
          cache_path: /github/workspace/hub-mirror-cache
          static_list: ${{ github.event.repository.name }}

          
# build-on-windows:
#   runs-on: windows-latest
#   steps:
#     - name: Run a one-line script
#       run: echo "Hello, world! from windows"
#     - name: Run a multi-line script
#       run: |
#         echo "Add other actions to build,"
#         Get-Date
#     - name: Check OS
#       run: |
#         if [ "$RUNNER_OS" == "Windows" ]; then
#           echo "Running on Windows"
#         elif [ "$RUNNER_OS" == "Linux" ]; then
#           echo "Running on Linux"
#         elif [ "$RUNNER_OS" == "macOS" ]; then
#           echo "Running on macOS"
#         else
#           echo "Unknown OS"
#         fi

# sync-to-gitee:
#   needs: [build]
#   runs-on: ubuntu-latest
#   steps:
#     - name: Async Github Branch To Gitee
#       uses: shanghaobo/github-branch-gitee@master
#       with:
#         github_repo: shanghaobo/test-async
#         github_branch: test
#         gitee_repo: shanghaobo/test-async2
#         gitee_branch: master
#         username: ${{ secrets.GITEE_USERNAME }}
#         password: ${{ secrets.GITEE_PASSWORD }}
