name: my-test-action

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ali50m/actions/my-check-out@main
      - id: ll
        run:
          ls -alF
      - id: tree
        run:
          tree -a