name: test action

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - id: test-action
        uses: ali50m/actions/test-action@main
        with:
          filename: test-filename
        run: |
          echo "test-action done!"
