name: my-test-action

on: 
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: ali50m/actions/my-check-out@main
      - id: ll
        run:
          ls -alF
      - id: tree
        run:
          tree -a
      - name: Define multiline variable
        run: |
          my_name="John"
          my_variable=$(cat << EOF
          Hello, my name is ${my_name}.
          This is the first line.
          This is the second line.
          And this is the third line.
          EOF
          )
          echo $my_variable
          my_variable2=$(printf "Hello, my name is ${my_name}.\nThis is the first line.\nThis is the second line.")
          echo $my_variable2